@font-face {
    font-family: cursive-pixel;
    src: url(./primusscript.ttf);
}

@font-face {
    font-family: levi-windows;
    src: url(./levi-windows.ttf);
}

:root{
    /* Custom variables */
    --background: #663a3b;
    --foreground: #de8c62;
    --highlight: #cb4953;
    --white: #e7d8b6;
    --red: #cb494e;
}

body{
    /* Make the background flush with screen edge */
    margin: 0;
    background-color: var(--white);
}

.wrapper {
    display: flex;

    width: 100vw;
    padding: 50px 0;
    position: absolute;
    top: 25%;

    background-color: var(--background);
}

.leftside {
    display: flex;
    justify-content: flex-end; 
    width: 65vw;

    background-color: var(--background);
}

.leftside img {
    /* Set literal dimensions so it will never smooth the edges */
    width: 290px;
    height: 390px;

    margin-right: 100px;
}

.rightside {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 60vw;

    background-color: var(--background);
    font-family: cursive-pixel;
    color: var(--white);
}

.rightside h1{
    font-size: 1em;
    font-weight: 100;
    margin: 0;
}

.rightside form {
    font-family: levi-windows;
}

.rightside fieldset {
    border: 0;
    display: flex;
    flex-flow: row wrap;
}

.rightside .field {
    display: flex;
    flex-flow: column wrap;
    /* Give space after each input field, @ 50% and above, it forces a wrap
       which ruins the entire layout, so I only use 40% */
    width: 40%;
    padding-right: 10px;
}