@font-face {
    font-family: cursive-pixel;
    src: url(./primusscript.ttf);
}

@font-face {
    font-family: levi-windows;
    src: url(./levi-windows.ttf);
}

:root{
    /* Custom variables */
    --background: #663a3b;
    --foreground: #de8c62;
    --highlight: #cb4953;
    --white: #e7d8b6;
    --red: #cb494e;
    --green: #828b66;
}

body{
    /* Make the background flush with screen edge */
    margin: 0;
    background-color: var(--background);
}

.wrapper {
    display: flex;

    width: 80vw;
    max-width: 850px;
    padding: 50px 0;
    padding-right: 35px;
    position: absolute;

    background-color: var(--background);
    border:1px solid var(--white);

    /* Vert & Horiz centering, ripped from W3Schools B) */
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.leftside {
    display: flex;
    justify-content: flex-end; 
    width: 65vw;

    background-color: var(--background);
}

.leftside img {
    /* Set literal dimensions so it will never smooth the edges */
    width: 290px;
    height: 390px;

    margin-right: 100px;
}

/* RIGHT SIDE */
.rightside {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: center;

    width: 60vw;

    background-color: var(--background);
    font-family: 'MS Gothic';
    color: var(--white);
}

.rightside h1{
    font-size: 20px;
    font-weight: 100;
    margin: 0;
    margin-left: 12px;
}

.rightside form {
    font-family: levi-windows;
}

.rightside fieldset {
    border: 0;
    display: flex;
    flex-flow: row wrap;
    min-width: 300px;
    max-width: 600px;

    padding-top: 20px;
}

.rightside .field {
    display: flex;
    flex-flow: column wrap;
    /* Give space after each input field, @ 50% and above, it forces a wrap
       which ruins the entire layout, so I only use 40% */
    width: 40%;
    padding-right: 10px;
    padding-bottom: 10px;
}

.rightside label {
    font-size: 12.5px;
}

.rightside input {
    color: var(--white);
    font-family: 'levi-windows';
    font-size: 12px;

    border: 1px solid var(--white);
    border-radius: 2px;
    background-color: var(--background);
}

input:focus {
    border: 2px solid var(--red);
    outline: none;
}

input:placeholder-shown {
    color: var(--white);
}

button {
    border: 2px solid var(--red);
    border-radius: 4px;
    background-color: var(--white);

    height: 30px;

    margin-left: 14px;

    font-family: 'levi-windows';
    font-size: 12px;
    font-weight: 100;
}

button:hover {
    background-color: var(--background);
    color: var(--white);
}

.log-in {
    margin-left: 14px;
    font-size: 12px;
}

.log-in a {
    text-decoration: none;
    color: var(--highlight);
}